<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>题目列表</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>题目列表</h1>
    <ul id="problem-list">
        <!-- 这里将通过 JavaScript 动态加载题目 -->
    </ul>
    <script src="/js/problems.js"></script>
</body>
</html> 